<?xml version="1.0" ?>
<robot name="NUSENSE" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find NUSENSE_description)/urdf/materials.xacro" />
<xacro:include filename="$(find NUSENSE_description)/urdf/NUSENSE.trans" />
<xacro:include filename="$(find NUSENSE_description)/urdf/NUSENSE.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.16482238182188297 -0.0002961685858999756 0.00025788233645894493" rpy="0 0 0"/>
    <mass value="0.03501172063719372"/>
    <inertia ixx="2.3e-05" iyy="1.5e-05" izz="1e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://NUSENSE_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://NUSENSE_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
